.App {
}
.section1
{
  background-image:url("./assets/images/flat-space-bg.png")

}
button:hover
{
  cursor:pointer;
}
/*******NAVBAR******/
.nav-wrapper
{
  background-color:rgba(0,0,0,0.3);
}
.nav
{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  margin-left:1em;
  margin-right:1em;
  color:white;
  font-family:'Michroma';

}

.nav text
{
  font-size:24px;
  font-weight:800;
  

}
.nav-bar ul
{
  display:inline-flex;
  list-style:none;

}

.nav-bar ul li
{
  margin-right:12px;
  font-size:14px;
}
.nav-bar ul li:hover
{
  cursor:pointer;
  text-shadow:2px 2px 5px white;
}

/*******HERO******/
.hero
{
  background-color:rgba(0,0,0,0.18);  margin:4em;
  padding:4em;
  padding-bottom:7em;
  margin:auto;
  font-family:'Candara';
  color:white;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.hero button
{
  margin-top:2em;
  border:none;
  border-radius:1em;
  background-color:black;
  color:white;
  padding:1em;
}
.hero h1
{
  font-size:48px;
  font-style:bold;
}
.hero p
{
  font-size: 20px;
  color:rgba(255, 255, 254);
}

/*****ABOUT******/
.section2
{
  background-color:whitesmoke;
  

}
.about-wrapper
{
  margin:0 5em 0 5em;

}
.about
{
  display:flex;
  flex-direction: column;
  align-items:center;
}

.title-marker
{
  text-align:center;
  margin-bottom: 0;
  font-size:50px;
  font-family:'Candara';
    text-transform: uppercase;
    color:#0e1b3d


}
.title-marker::after
{
  content:"";
  display:block;
  margin:0 auto;
  width:25%;
  border-bottom:5px solid #0e1b3d;
  padding-top:15px;
}
.about p
{
  margin:3em 1em 1em 1em;
  font-family:'Candara';
  font-size:1.3em;
}

/****PROCESS****/
.process
{
  margin:2em 5em 2em 5em;
  
  height:auto;
  
}

.process-cards
{
  display:flex;
  flex-direction:column;
  
}

.process-card
{
  display:flex;
  flex-direction:row;
  font-family:'Candara';

}
.process-card:nth-of-type(even)
{
  flex-direction: row-reverse;
}

.left 
{
  background-color:#142954;
  width:50%;
  display:flex;
  padding-right:3em;
  flex-direction: column;
  justify-content: center;
  
}
.left img
{
  height:250px;
  padding:1em;
}

.right
{
  padding-left:3em;
  color:gray;
}
.right h1
{
  color:#0e1b3d;
}
.right p
{
}
.process-card .right 
{
  width:50%;
}

/****PAYMENTS****/
.payments
{
  background:gainsboro;
  display:flex;
  flex-direction: column;
}

.payment-cards
{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.card
{
  width:30%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:'Candara';
  border:1px solid black;
  border-radius:15px;
  margin:2em;
  padding:1em;
  color:black;
  background-color:white;
}
.card h1
{
  color:#0e1b3d;
  border-bottom:1px solid #0e1b3d;
}
.card .price
{
  font-size:48px;
  font-weight:800;
}
.card ul
{
  list-style:none;
  padding:1em;
}
.card ul li
{margin:1em;
}
.card button
{
  border:1px solid black;
  padding:1em 2em 1em 2em;
  width:auto;
  background-color:white;
  
}
#best-card
{
  color:white;

  background-image:url("./assets/images/flat-space-bg-normal.png")
}
#best-card .fa-check
{
  color:white;
}
#best-card h1
{
  color:white;
  border:none;
}
#best-card ul
{
  background-color:rgba(0,0,0,0.3);

}
#best-card button
{
  background-color:black;
  color:white;
  border:1px solid white;
}
#best-card button:hover
{
  transition: 500ms;
  background-color:white;
  color:black;
}

.fa-check
{
  margin-right:1em;
  color:#0e1b3d;
}
/****FOOTER****/
.footer
{
  background-color:#22272c;
  width:100%;
  font-family:'Candara';
  display:flex;
  padding:1em 0 .5em 0;
  flex-direction: column;
  align-items: center;
  color:gray;
}

.social-links .icon
{
  margin:.2em;
  padding-right:.5em;
}
.social-links .icon:hover
{
  color:white;
  transition:250ms;
  cursor: pointer;
}
.social-links .icon:not(:last-child)
{
  border-right: 1px solid gray;

}

/***MEDIA QUERIES***/
@media only screen and (max-width:600px)
{
  .process-card img
  {
   
  }
  .process-card .left
  {
    width:25%;
    height:3em;

  }

  .payment-cards
  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .card
  {
    width:50%;
  }
  .card ul li:hover
  {
    cursor:pointer;
    border-bottom:1px solid white;
  }

}

/****ANIMATIONS****/

.fade-in-top
{
    animation:fade-in-top 2s 1;
}
@keyframes fade-in-top
{
  0%{
    opacity:0;
    transform:translateY(-50px);
  }
  100%
  {
    opacity:1;
    transform:translateY(0px);
  }
}